.task_dark {
  color: var(--black);
  background: var(--darkTheme-color3);
}
.task_light {
  color: var(--white);
  background: var(--lightTheme-color1);
}

.task_calendar {
  margin: 4px 0;
  height: 14px;
  border-radius: 5px;
  padding-left: 6px;
  font-size: 11px;
  text-align: start;
  overflow: hidden;
}

.task_modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 24px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 16px;
}
.task_modal p {
  margin: 10px;
}

.task_done {
  text-decoration: line-through;
  opacity: 0.4;
}

.task_dark_calendar {
  composes: task_calendar;
  composes: task_dark;
}
.task_light_calendar {
  composes: task_calendar;
  composes: task_light;
}

.task_dark_modal {
  composes: task_modal;
  composes: task_dark;
}
.task_light_modal {
  composes: task_modal;
  composes: task_light;
}

.task_dark_modal_done {
  composes: task_modal;
  composes: task_dark;
  composes: task_done;
}
.task_light_modal_done {
  composes: task_modal;
  composes: task_light;
  composes: task_done;
}

