.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
}

.button_header {
  composes: button;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.button_header_light {
  composes: button_header;
  border: 1px solid var(var(--lightTheme-color2));
  background-color: var(--lightTheme-color2);
  color: var(--lightTheme-color1);
}
.button_header_light:hover {
  background-color: var(--lightTheme-color4);
}

.button_header_dark {
  composes: button_header;
  border: 1px solid var(--darkTheme-color2);
  color: var(--darkTheme-color3);
}
.button_header_dark:hover {
  background-color: var(--darkTheme-color4-transparent);
}