.content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.calendar {
  width: 80%;
  background: inherit;
  border: none;
}

.calendar_dark {
  composes: calendar;
}
.calendar_light {
  composes: calendar;
}

.calendar_dark button:enabled:hover,
.calendar_dark button:enabled:focus {
  background: var(--darkTheme-color4-transparent);
}
.calendar_light button:enabled:hover,
.calendar_light button:enabled:focus {
  background: var(--lightTheme-color4-transparent);
}

.today_dark {
  background: var(--darkTheme-color0-transparent);
}
.calendar .today_dark abbr {
  color: var(--darkTheme-color3);
}

.today_light {
  background: var(--lightTheme-color1-transparent);
}
.calendar .today_light abbr {
  color: var(--white);
  text-shadow: 2px 2px var(--lightTheme-color0);
}

.activeDay_dark {
  background: var(--darkTheme-color1);
}
.activeDay_light {
  background: var(--lightTheme-color1-transparent);
}

.calendar_dark .activeDay_dark:enabled:hover,
.calendar_dark .activeDay_dark:enabled:focus {
  background: var(--darkTheme-color1-transparent);
}
.calendar_light .activeDay_light:enabled:hover,
.calendar_light .activeDay_light:enabled:focus {
  background: var(--lightTheme-color1-transparent);
}

.calendar_dark .activeDay_dark:enabled:hover abbr{
  color: var(--darkTheme-color3)
}
.calendar_light .activeDay_light:enabled:hover abbr {
  text-shadow: 2px 2px var(--lightTheme-color0);
}

.calendar_dark button.activeDay_dark {
  border: 1px solid var(--darkTheme-color4)
}
.calendar_light button.activeDay_light {
  border: 1px solid var(--lightTheme-color0)
}

