.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 2;
}

.header_light {
  composes: header;
  background-color: var(--lightTheme-color1);
  box-shadow: 0px 1px 10px 1px var(--darkTheme-color1);
}

.header_dark {
  composes: header;
  background-color: var(--darkTheme-color1);
  box-shadow: 0px 1px 10px 1px var(--darkTheme-color3);
}

.title {
  font-family: 'Climate Crisis', cursive;
  letter-spacing: 4px;
  text-transform: capitalize;
}

.title_light {
  composes: title;
  color: var(--lightTheme-color2);
  text-shadow: 1px 1px 2px var(--black);
}

.title_dark {
  composes: title;
  text-shadow: 1px 1px 2px var(--darkTheme-color3);
}