.sidebar {
  position: fixed;
  right: 0px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 340px;
  padding-top: 90px;
  margin-right: -340px;
  transition: margin-right 1s ease-in-out;
}

.sidebar_dark {
  composes: sidebar;
  background: var(--darkTheme-color1);
  box-shadow: 1px 1px 10px 2px var(--black);
}
.sidebar_light {
  composes: sidebar;
  background: var(--lightTheme-color4);
  box-shadow: 1px 1px 10px 2px var(--darkTheme-color1);
}

.sidebar_dark_visible {
  composes: sidebar_dark;
  margin-right: 0;
}
.sidebar_light_visible {
  composes: sidebar_light;
  margin-right: 0;
}

.content {
  flex-grow: 1;
  margin: 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.button {
  flex-basis: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}